extends layouts/main
//- home 화면이 레이아웃 코드를 복붙한다는 뜻
include mixins/videoBlock

block content
    .videos
        each video in videos
            +videoBlock({
                id:video.id,
                title:video.title,
                views :video.views,
                videoFile:video.fileUrl
            })